body{
    background-color: #f1faee;
}

h1,h2{
    color: #1d3557
}

button{
    font-size: 30px;
    background-color: #a8dadc;
}

#signup{
    background-color: #1d3557;
    color: #f1faee;
}

span{
    color:#457b9d;
}

.tag{
    color: #f1faee;
    background-color: #e63946;
    font-size: 18px;
}

.post a{
    color: #457b9d;
    font-weight: 700;
    text-decoration: none;
}

footer a{
    color: #e63946;
}

h2 + button{
    font-size: 20px;    
}

footer > a{
    color : magenta;
}

input[type="password"]{
    color:red;
}

.post  button:hover{
    background-color: #e63946;
    color: #f1faee;
}

.post a:hover{
    text-decoration: underline;
}

.post button:active{
    background-color: green;
}

h2::first-letter{
    font-size: 50px;
}

p::first-line{
    color:purple;
}

p::selection{
    background-color: #fcbf49;
}

button:hover{
    background-color: olive;
    font-size: 10px;
}




































/* body{
    background-color:gray;
}

h2{
    color: teal;
    background-color: plum;
}

button{
    color: magenta;
    background-color: cyan;
}

p{
    color: olive;
    background-color: orange;
}    */

/* h1{
    text-align: center;
    font-weight: normal;
    text-decoration: #f71820 underline dotted;
}

p{
    font-weight: bold;
    line-height: 2;
}

a{
    text-decoration: none;
    font-weight: bolder;
} */