<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Homw Page <%='hello world'.toUpperCase()%></h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque iusto, dolore cupiditate perferendis, dicta nulla quas veniam eveniet possimus nostrum odit! Velit, nam tempora labore quae praesentium deserunt alias perspiciatis.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates in aliquid commodi quasi. Magnam quae expedita tempora nobis culpa sunt, illo eius esse autem, illum aspernatur blanditiis vel animi est.</p>
</body>
</html>